ion-datetime{
    color: white;
}
ion-label{
    color: white;
}
ion-title{
    color: white;

}.icono{
    color:#6aeffc;
    zoom:2;
}.trash{
    color: red;
    zoom: 2;
    text-align: right;
    align-content: right;

}.Eliminar{
    --background: red;
    ion-icon.presentAlert{
      color: white;
    }
 }
