ion-icon{
    color:#6aeffc;
    zoom:2.5;
}
ion-title{
    color:antiquewhite
}ion-list-header{
    color:antiquewhite;
}ion-item ion-label{
    color:antiquewhite;
}ion-label p{
    color:antiquewhite;
    font-size: 18px;
}