<ion-header>
  <ion-toolbar>
    <ion-title>Tipo de Clases</ion-title>
  </ion-toolbar>
</ion-header>  


<ion-content >
    
  <ion-item><ion-label>Nombre:</ion-label><ion-input [formControl]="nombre"></ion-input></ion-item>
  <ion-item><ion-label>Cupo:</ion-label><ion-input [formControl]="cupo"></ion-input></ion-item>
  
  <ion-item >
    <ion-label>Profesor</ion-label>
  <ion-select >
    <ion-select-option value="f">Profesor1</ion-select-option>
    <ion-select-option value="m">PRofesor2</ion-select-option>
  </ion-select>
</ion-item>
<ion-item><ion-label>Nota:</ion-label><ion-input [formControl]="nota"></ion-input></ion-item>



<div class="row">
<ion-icon name="arrow-back-circle-outline" color="#64effc"></ion-icon>
<ion-button size="small" type="submit"  color="red!" [routerLink]="['/clases']">Eliminar</ion-button>
<ion-button  size="small" type="submit" color="#64effc">Actualizar</ion-button>
</div>

</ion-content>

