ion-content {
    // overwrite inline styles
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
.login {
  width:  100%; 
  max-width: calc(100vw - 48px); 
  margin-right:  auto; 
  margin-left:  auto; 

  input {
    padding:  18px; 
    padding-right:  18px; 
  }
}
.terms_and_conditions {
  color: #ccc;
  text-align: center;
  font-size: 12px;
  font-weight: bolder;
  margin-top: 30px;
}
.login-wrapper {
  background:  #101010; 
  width:  100%; 
  height:  100%; 
  margin-top:  auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  color:  #fff;
  font-weight:  700; 
  margin-bottom: 30px;
}
.logo {
  max-width:  50vw; 
  margin:  0 auto; 
  margin-bottom:  30px; 
  padding-top: 3rem;
}
.login-cover {
  margin-left:  -24px; 
  margin-top:  -24px;  
  width:  calc(100% + 48px); 
  height:  200px; 
  max-width:  1000px; 
  object-fit:  cover; 
  object-position: center center; 
  margin-bottom:  12px; 
}
.input-wrapper {

  position:  relative; 
  width:  100%; 
  margin-bottom:  16px; 
  display:  flex;  
  flex-direction:  column; 
  box-sizing:  border-box; 
  margin-bottom:  16px; 
  label {
    font-size:  10.5px; 
    color:  #fff; 
    font-weight:  700; 
    opacity:  .45; 
    margin-bottom:  6px; 
  }
  input[type="text"],
  input[type="email"],
  input[type="password"]
   {
    text-align: center;

    -webkit-appearance:  none; 
    width:  100%; 
    height:  auto; 
    padding:  18px 18px; 
    border-radius:  12px;  
    box-sizing:   border-box; 
    font-size:  16px; 
    color:   #fff; 
    background:  #303030; 
    border:  none;
    position:  relative;   
    &::placeholder {
      color:  rgba(#fff, .65); 
    }
  }
}
.row {
  display:   flex; 
  flex-direction:  row; 
  align-items:  center; 
  justify-content:  center; 
  margin-top:  12px; 
  .next-button {
    width:  100%; 
    padding:  18px; 
    font-size:  16px; 
    color:  #000; 
    background-color:  #64effc; 
    font-weight:  700; 
    text-align:  center; 
    border-radius:  12px; 
    font-family:  'IBM Plex Sans', sans-serif; 
    filter:  drop-shadow(0 4px 10px darken(#303030, 40%));         
  }
  .next-button-small {
    width:  100%; 
    padding:  18px; 
    font-size:  16px; 
    color:  #64effc; 
    background-color:  #000; 
    font-weight:  700; 
    text-align:  center; 
    border-radius:  12px; 
    font-family:  'IBM Plex Sans', sans-serif; 
    // filter:  drop-shadow(0 4px 10px darken($primary, 40%));         
  }
}
.rec_account{  
  margin-top:  40px;
  p {
    text-align:   center; 
    color:   #9EE4FF; 
    font-size:  12px; 
    font-weight:  700;
  } 
} 



