ion-title{
    color: white;
   
}

ion-content{
    color: blanchedalmond;
} ion-item ion-label{
    color:aliceblue;
}
ion-button  {
color:  black;
background-color:#64effc;
text-align:  center; 
border-radius:  12px; 
font-family:  'IBM Plex Sans', sans-serif; 
filter:  drop-shadow(0 4px 10px darken(#303030, 40%));         
} .bExtra{
    color:  white;
background-color:black;
text-align:  center; 
border-radius:  12px; 
font-family:  'IBM Plex Sans', sans-serif; 
filter:  drop-shadow(0 4px 10px darken(#303030, 40%)); 

} .bExtra1{
    color:white;
    background-color: #ff0000;
}ion-content ion-item ion-select{
    // overwrite inline styles
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    color:aliceblue;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  
  ion-content ion-item ion-select ion-select-option{
      color: white;
      
  }.icono{
      zoom: 3.5;
      color: #64effc;
  }ion-label{
      color:aliceblue;
  }.searchB{
    color: white;
    
}