<ion-header>
  <ion-toolbar>
    <ion-title>Compras App</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-header>
      <ion-toolbar >
        <ion-label>Sucursal
          <ion-select ><ion-select-option >Sucursal1</ion-select-option>
            <ion-select-option value="2">Sucursal2</ion-select-option>
          </ion-select>
       </ion-label>
       <ion-item>
        <ion-label>fecha Inicial: </ion-label>
        <ion-datetime value="1990-02-19" placeholder="Select Date"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>fecha Final: </ion-label>
        <ion-datetime value="1990-02-19" placeholder="Select Date"></ion-datetime>
      </ion-item>

       <ion-select >Tipo
          <ion-select-option >Ordenes pendientes</ion-select-option>
          <ion-select-option value="2">Ordenes historicas</ion-select-option>
        </ion-select>
      </ion-toolbar>

    </ion-header>
    <ion-content>
      <ion-button>Consultar</ion-button>
      <ion-card>
        <ion-avatar></ion-avatar>
        <p>Fecha:</p>
        <p>Nombre:</p>
        <p>Apellido:</p>
        <p>Correo:</p>
        <p>Telefono:</p>
        <p>Articulo/costo:</p>
        <p>Total:</p>

      </ion-card>
    </ion-content>