<ion-header>
  <ion-toolbar>
    <ion-title>Periodos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-text>
      <p >Día:</p>
      <p style="padding-left: 2.5rem;">Hora Inicio:</p>
      <p style="padding-left: 2.5rem;">Fin:</p> 
      <p style="padding-left: 2.5rem;">Entrenador:</p>
    </ion-text>
  <ion-icon  class="trash" name="trash-outline"></ion-icon>
  </ion-card>
  
  <ion-icon class="return" name="arrow-back-circle-outline"  [routerLink]="['/clases']"></ion-icon>
 
</ion-content>
