ion-text{
    color: aliceblue;

}ion-title{
    color:white;
}
.trash{
    color: red;
    zoom: 1.5;
    text-align: center;
    align-content: center;

} .return{
    color: #6aeffc;
    zoom: 2;

}ion-content {
    // overwrite inline styles
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }}
    ion-card-title{
        color: white;
    }