.menu{
    text-align: center;
    
}.icono{
    color:hsl(185, 96%, 70%);
    zoom:2.5;
}ion-content {
    // overwrite inline styles
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }}
    ion-card-title{
        color: white;
    }
    ion-title{
        color:antiquewhite;
    }