ion-title{
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
    ion-card-title{
        color: white;
    }
    p{
        color: #cdcdcd;
    }
    ion-card{
        background-color: #202020;
        
    }
    ion-list-header{
        font-size: 20px;
        text-align: center;
        font-style:bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #202020;
        color: white;
    }
    ion-card-subtitle{
        color: whitesmoke;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }
    ion-slides {
        height: 100%;
      }
  
      .swiper-slide {
        display: block;
      }