<ion-header>
  <ion-toolbar>
    <ion-title>Notificacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title>Agregar nueva notificacion<ion-icon class="icono " style="align-content: left;" name="add-circle-outline" [routerLink]="['/crear']"></ion-icon></ion-title>
  <ion-card>
    <ion-title>Clase Proxima</ion-title>
    <p>Fecha de publicación:</p>
    <p>Gym:</p>
    <p>Sucursal:</p>
    <ion-icon class ="icono" name="send-outline"></ion-icon>
    <ion-icon class="trash" name="trash-outline"></ion-icon>
  </ion-card>



  
</ion-content>
