<ion-header>
  <ion-toolbar>
    <ion-title>Muro <ion-icon name="newspaper"></ion-icon> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/1.jpg"/>
    <ion-card-content>
      <ion-card-title>
        HORA DE DORMIR 
      </ion-card-title>
      <p>Si no descansas lo suficiente tu rendimiento en el entrenamiento se verá afectado.</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="assets/2.jpg"/>
    <ion-card-content>
      <ion-card-title>
        DATO CURIOSO 
      </ion-card-title>
      
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="assets/3.jpg"/>
    <ion-card-content>
      <ion-card-title>
        HIDRATATE
      </ion-card-title>
      <p>Antes, durante y después del entrenamiento. Tu cuerpo lo agradecerá en cada entrenamiento.</p>
    </ion-card-content>
  </ion-card>
  
</ion-content>